@charset "UTF-8";
/* css/src/layout_0-2.css */

/* ----------------------------------------------- */
#wrap {
    width: 600px;
    height: 1600px;
    margin: auto;
    background-color: transparent;
    text-align: center;
    color: beige;
}

/* #header----------------------------------------------*/
#header {
    /* width: calc(100% - 40px); */
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 30px 20px 20px 20px;
    background-color: #f06;
}

.logo {
    float: left;
    width: 120px;
    height: 50px;
    background-color: rgb(255, 189, 215);
}

.logo a {
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none;
    color: beige;
    text-shadow: 2px 2px rgb(248, 2, 2);
}

.navigation {
    float: right;
    width: 400px;
    height: auto;
    padding-top: 10px;
    background-color: transparent;
}

.navigation ul {
    width: 100%;
    height: auto;
    background-color:transparent;
}

.navigation li {
    float: left;
    width: 50px;
    height: 40px;
    margin-right: 20px;
    /* padding: 10px; */
    /* box-sizing: border-box; */
    background-image: linear-gradient(45deg, rgb(255, 124, 1), rgb(252, 227, 0));
}
.navigation li:last-child {
    margin-right: 0;
}

.navigation li a {
    display: block;
    width: 100%;
    height: 100%;
}

/* #section----------------------------------------------*/
#section {
    width: 100%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 50px;
}
#section > div {
    float: left;
    height: 300px;
    padding: 20px;
    box-sizing: border-box;

}
.setion_01 {
    width: 40%;
    background-color: #329664;
}
.setion_02 {
    width: 60%;
    background-color: mediumaquamarine;
}
.full {
    width: 100%;
    height: 100%;
    border-color: inherit;
    border: 1px solid #fff;
    box-sizing: border-box;
}

/* #section:after,
 #section::after{
     content: " ";
     display: block;
     width: 100%;
     height: 0;
     clear: both;
 } */
/* #aside-----------------------------------------------*/
#aside {
    width: 100%;
    height: auto;
}

.side_01 {
    float: left;
    width: 30%;
    height: 300px;
    background-color: purple;
}

.side_02 {
    float: left;
    width: 35%;
    height: 300px;
    background-color: rgb(187, 158, 187);
}

.side_03 {
    float: left;
    width: 35%;
    height: 300px;
    background-color: rgb(194, 226, 161);
}

/* #aside:after,
#aside::after {
    content: " ";
    display: block;
    width: 100%;
    height: 0;
    clear: both;
} */
/* #article--------------------------------------------*/
#article {
    width: 100%;
    height: auto;
}

.art_01 {
    float: left;
    width: 30%;
    height: 300px;
    background-color: orange;
}

.art_02 {
    float: left;
    width: 70%;
    height: 150px;
    background-color: paleturquoise;
}

.art_03 {
    float: left;
    width: 70%;
    height: 150px;
    background-color: rgb(238, 227, 131);
}

/* #content---------------------------------------------*/
#content {
    width: 100%;
    height: auto;
}

#content .art_01 {
    float: right;
    width: 30%;
    height: 500px;
    background-color: orange;
}

#content .art_02 {
    width: 70%;
    height: 150px;
    background-color: paleturquoise;
}

#content .art_03 {
    width: 70%;
    height: 350px;
    background-color: rgb(238, 227, 131);
}

/* #footer----------------------------------------------*/
#footer {
    width: 100%;
    height: 100px;
    background-color: #03f;
}