/* css/src/web_11_position.css */

#wrap {
    width: 900px;
    height: 5000px;
    margin: auto;
    margin-bottom: 1000px;
    padding-top: 20px;
    text-align: center;
    background-color: rgb(202, 255, 202);
}
hr {
    width: 90%;
    margin: auto;
    border: 1px solid rgb(175, 241, 121);
}
.part {
    width: 90%;
    height: 200px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    box-sizing: border-box;
    border-top: 1px solid rgb(9, 61, 9);
    background-color: #fff;    
}
.part > ul {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(86, 161, 25);
}
.part li {
    float: left;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    color: rgb(238, 255, 225)
}
.part li:hover {
    color: rgb(9, 61, 9);
    background-color: rgb(249, 255, 167)
}
/* default---------------------------- */
.default {
    background-color: rgb(63, 7, 102);
}
/* static---------------------------- */
.static {
    position: static;
    background-color: rgb(102, 7, 78);
}
/* fixed---------------------------- */
.fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgb(14, 67, 128);
}
/* absolute---------------------------- */
.absolute {
    position: absolute;
    top: 400px;
    left: 200px;
    background-color: rgb(241, 132, 132);
}
/* absolute2---------------------------- */
.absolute2 {
    position: absolute;
    top: 400px;
    left: 90px;
    z-index: -1;
    background-color: rgb(137, 167, 5);
}
/* relative---------------------------- */
.relative {
    position: relative;
    top: 50px;
    left: 450px;
    background-color: rgb(25, 146, 161);
}

