h1,h2,h3,h4,h5,h6 {
    font-size: 1rem;
    /* margin: 5px; */
}

#wrap {
    width: 90%;
    max-width: 1600px;  max-width: 100rem;
    height: 3000px;
    margin: auto;
    padding: 16px;      padding: 1rem;
    background-color: aliceblue;
}

h2 {
    width: auto;
    height: auto;
    margin-bottom: 1rem;
    padding: 1rem;
    text-align:center;
    font-size: 1.5rem;
    background-color: powderblue;
}
fieldset {
    margin-bottom: 5px;
    border: 1px solid powderblue;
    font-size: 0.95rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.61);
}

fieldset ul {
    margin-top: 5px;
}

fieldset li {
    margin-bottom: 5px;
}

.img_btn input {
    width: 100px;
    height: 30px;
    color: #fff;
}
