@charset "UTF-8";

/* web_05_reset.css */

/* reset.css */
html, body {
    width: 100;
    height: 100%;
    margin: 0;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
}


/* test */
body {
    background-color: #afa;
}
#wrap {
    width: 100%;
    height: 100%;
    background-color: rgb(227, 213, 235);
}
li {
    background-color: rgb(243, 229, 205);
}